

  <div class="ui-content">
    <%= form_for(announce, html: { multipart: true, 'data-ajax': false }) do |f| %>
  <% if announce.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4><%= pluralize(announce.errors.count, "error") %> prohibited this announce from being saved:</h4>

      <ul>
      <% announce.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <% -# f.label :nom -%>
    <%= f.text_field :nom, placeholder: "Entrez le nom du produit ou service", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 20, placeholder: "Decrivez le produit ou le service " %>
  </div>

  <div class="field">
    <%= f.label :prix %>
    <%= f.number_field :prix, placeholder: "Entrez le prix" %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
  </div>

  <div class="actions form-group">
    <%= f.submit %>
  </div>
<% end %>

  </div>

  <script type="text/javascript">



    $('#announce_image').bind('change', function() {
      size_in_megabytes = this.files[0].size/1024/1024;
      if(size_in_megabytes > 5) {
        alert('maximum taille du fichier est de 5MB. Choisir un fichier plus petit');
      }
    });
  </script>

