
<div class="ui-content">

  <p id="notice"><%= notice %></p>
  <h1>Announces</h1>

  <ul data-role="listview">
      <ul data-role="listview" data-inset="true" data-theme="a">
        <% @announces.each do |announce| %>
          <li data-icon="false">
            <%= link_to(announce) do %>
              <h2><%= announce.nom %></h2>
              <p><%= announce.prix %></p>
              <p><%= announce.description %></p>
            <% end %>
          </li>

        <% end %>
      </ul>
      <br />
      <%= link_to 'Nouvelle annonce', new_announce_path %>
  </ul>

  <br>



</div>





