




<div class="ui-content">
  <div class="center">
    <ul data-role="listview">
        <% @announces.each do |announce| %>
          <li data-icon="false">
            <%= link_to(announce) do %>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <%= image_tag announce.image.url(), size: 120 %>
                </div>

                <div class="ui-block-b">
                  <h4><%= announce.nom %></h4>
                  <p><%= number_to_currency(announce.prix) %></p>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
  </div>
      <br />
      <%= link_to 'Ajouter annonce', new_announce_path, class: 'ui-btn ui-corner-all ui-icon-plus ui-btn-icon-right' %>

</div>





