



<div class="ui-content">

  <p id="notice"><%= notice %></p>
  <h1>Announces</h1>

  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Prix</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @announces.each do |announce| %>
        <tr>
          <td><%= announce.nom %></td>
          <td><%= announce.description %></td>
          <td><%= announce.prix %></td>
          <td><%= link_to 'Afficher', announce %></td>
          <td><%= link_to 'Modifier', edit_announce_path(announce) %></td>
          <td><%= link_to 'Supprimer', announce, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nouvelle Announce', new_announce_path %>

</div>





