
<div class="ui-content">
  <!-- <div class="jumbotron">
    <h1>Djogol dans tout Niamey</h1>
  <h2>Reperez la bonne affaire</h2>
  </div> -->

  <div class="center">

      <div data-role="collapsible" data-theme="b" data-content-theme="b">
      <h2>Choisir une categorie</h2>
          <ul data-role="listview" data-filter="true">
              <li><%= link_to 'Toutes les categories', announces_path %></li>
              <% Category.all.each do |category| %>
                  <li><%= link_to category.nom, announces_path(category: category.nom), 'data-ajax': false %></li>
              <% end %>

          </ul>
      </div>

    <ul data-role="listview">
        <% @announces.each do |announce| %>
          <li data-icon="false">
            <%= link_to(announce) do %>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <%= image_tag(announce.image.url, size: 120) if announce.image? %>
                </div>

                <div class="ui-block-b">
                  <h4><%= announce.nom %></h4>
                  <p><%= number_to_currency(announce.prix) %></p>
                  <p><%= "Publie par #{announce.user.nom}" %></p>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
  </div>
      <br />

      <%= will_paginate @announces, renderer: BootstrapPagination::Rails %>

      <% if user_signed_in? %>
        <%= link_to 'Ajouter annonce', new_announce_path, class: 'ui-btn ui-corner-all ui-shadow ui-icon-plus ui-btn-icon-right', 'data-ajax': false %>
      <% end %>

      <br />

      <%= link_to 'Retour', announces_path %>

</div>







