<div class="ui-content">

  <%= image_tag @announce.image_url if @announce.image? %>
  <p>
    <h3><%= @announce.nom %></h3>
  </p>

    <p>
    <%= @announce.prix %>
  </p>

  <p>
    <%= @announce.description %>
  </p>

  <% if (user_signed_in?) && (current_user == @announce.user) %>
    <%= link_to 'Modifier', edit_announce_path, 'data-ajax': false %> |
    <%= link_to 'Supprimer', @announce, method: :delete, data: { confirm: 'Est-vous sure?', 'data-ajax': false } %> |
  <% end %>

  <%= link_to 'Retour', announces_path %>
</div>

