<div class="ui-content">
  <p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @announce.nom %>
</p>

<p>
  <strong>Description:</strong>
  <%= @announce.description %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @announce.prix %>
</p>

<%= link_to 'Edit', edit_announce_path(@announce) %> |
<%= link_to 'Back', announces_path %>
</div>

