<div class="ui-content">
  <p id="notice"><%= notice %></p>

  <%= image_tag @announce.image_url if @announce.image? %>
  <p>
    <h3><%= @announce.nom %></h3>
  </p>

    <p>
    <%= @announce.prix %>
  </p>

  <p>
    <%= @announce.description %>
  </p>

  <%= link_to 'Modifier', edit_announce_path(@announce) %> |
  <%= link_to 'Supprimer', @announce, method: :delete, data: { confirm: 'Est-vous sure?' } %> |

  <%= link_to 'Retour', announces_path %>
</div>

