<div id="mainNav" data-role="panel" data-position="left" data-display="reveal" data-theme="b">
    <ul data-role="listview" data-inset="true" data-theme="a">
        <% if user_signed_in? %>
            <li data-role="list-divider">Enregistrement</li>
            <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
        <% end %>

    </ul>
    <ul data-role="listview" data-inset="true" data-theme="a">
        <li data-role="list-divider">Gestion</li>
        <li data-icon="action"><%= link_to 'Gerer Announces', seller_path %></li>
    </ul>
</div>





<div data-role="header">
  <h1>KassouaNet</h1>
    <a href="#mainNav" class="ui-btn ui-icon-bars ui-btn-icon-notext">Menu</a>
    <% if user_signed_in? %>
        <%= link_to 'Sortir', destroy_user_session_path, method: :delete, class: "ui-btn-right", 'data-icon': 'delete', 'data-ajax': false %>
    <% else %>
        <%= link_to 'Entrer', new_user_session_path, class: "ui-btn-right", 'data-icon': 'user' %>
    <% end %>

</div>

